<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <th:block th:replace="root.html :: stylesheet"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper">
    <th:block th:insert="root :: header"></th:block>
    <th:block th:insert="root :: sidebar"></th:block>


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Permohonan
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-comments-o"></i> Pelayanan</a></li>
                <li class="active">Permohonan</li><li class="active">[[${subTitle}]]</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">[[${subTitle}]]</h3>
                            <p th:text="${msg}"></p>
                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 250px;">
                                    <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Nomor Penduduk</th>
                                    <th>Nama</th>
                                    <th>Jabatan</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="p : ${tambahPenduduk}">
                                    <td th:text="${p.id}"></td>
                                    <td th:text="${p.nama}"></td>
                                    <td th:text="${p.getJabatans()}"></td>
                                    <!--<td th:if="${p.istStatus() == false}">Belum Disetujui</td>-->
                                    <td><div class="btn-group">
                                        <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown">
                                            Action
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a  th:href="${p.getJabatans().add(10)}">Pelayanan</a></li>
                                            <!--<li th:if="${p.isStatus()}"><a th:href="'/pelayanan/permohonan-pengurangan-penduduk/batal-menyetujui/'+${p.getId()}">Batal Menyetujui</a></li>-->
                                        </ul>
                                    </div></td>
                                </tr>
                                </tbody>
                                <tbody th:if="${tambahPenduduk.totalPages} == 0">
                                <tr>
                                    <td colspan="8" align="center">Tidak ada Permohonan Restitusi yang terdaftar</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <th:block th:if="${tambahPenduduk.totalPages} != 0">
                            <div class="box-footer clearfix">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    <li class="paginate_button previous"><a class="btn " th:classappend="${tambahPenduduk.hasPrevious()} ? enabled : disabled" th:href="@{/admintambah/pegawai/daftar(page=${tambahPenduduk.number -1},size=${tambahPenduduk.size})}">&laquo;</a></li>
                                    <th:block th:each="i: ${#numbers.sequence(0, tambahPenduduk.totalPages - 1)}">
                                        <li th:if="${tambahPenduduk.number == i}" class="paginate_button active"><a href="#">[[${i}+1]]</a></li>
                                        <li th:unless="${tambahPenduduk.number == i}"><a th:href="@{/admintambah/pegawai/daftar(page=${i},size=${tambahPenduduk.size})}">[[${i}+1]]</a></li>
                                    </th:block>
                                    <li class="paginate_button next"><a class="btn " th:classappend="${tambahPenduduk.hasNext()} ? enabled : disabled" th:href="@{/admintambah/pegawai/daftar(page=${tambahPenduduk.number+1},size=${tambahPenduduk.size})}">&raquo;</a></li>
                                </ul>
                            </div>
                        </th:block>

                    </div>
                    <!-- /.box -->


                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>




    <th:block th:insert="root :: footer"></th:block>
    <th:block th:insert="root :: control-sidebar"></th:block>
</div>
<th:block th:insert="root :: script"></th:block>

</body>
</html>