<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <th:block th:replace="root.html :: stylesheet"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper">
    <th:block th:insert="root :: header"></th:block>
    <th:block th:insert="root :: sidebar"></th:block>


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Permohonan
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-comments-o"></i> Pelayanan</a></li>
                <li class="active">[[${subTitle}]]</li>
            </ol>
        </section>
        <section class="content">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Horizontal Form -->
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Surat Pengantar</h3>
                                <div class="box-tools">
                                    <!--<a href="/pelayanan/permohonan/daftar-penugasan" role="button" class="form-control pull-right btn btn-primary">Daftar Penugasan</a>-->
                                </div>
                            </div>
                            <div align="center" th:if="${error}">
                                <p style="font-size: 20; color: #ff2b1a;">Permohonan Gagal dibuat</p>
                            </div>
                            <div align="center" th:if="${success}">
                                <p style="font-size: 20; color: #4bd17b;">Permohonan Berhasil dibuat</p>
                            </div>
                            <!-- form start -->
                            <form class="form-horizontal" th:action="@{/pelayanan/permohonan/penugasan}" method="post">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Registrasi Surat Pengantar</h3>
                                            </div>
                                            <!--<div class="form-group">-->
                                                <!--<label class="col-sm-2 control-label">Nomor Surat</label>-->
                                                <!--<div class="col-sm-10">-->
                                                    <!--<input th:field="${penugasan.noSurat}" type="number" class="form-control" id="inputNoSurat" placeholder="Nomor Surat" />-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                <label class="control-label">NOP</label>

                                                    <input th:field="${penugasan.NOP}" type="text"   class="form-control" id="inputNOP" placeholder="NOP" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                <label class="control-label">Jenis Permohonan</label>

                                                    <input th:field="${penugasan.jenisPermohonan}" value="Permohonan Penugasan" type="text"   class="form-control" id="inputNOP" placeholder="Jenis Permohonan" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                <label class="control-label">Isi Surat</label>
                                                    <textarea th:field="${penugasan.isiSurat}" class="form-control rounded-0"
                                                              id="exampleFormControlTextarea1" rows="3"
                                                              placeholder="Masukkan Keterangan Surat"
                                                            ></textarea>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-info pull-right">Simpan</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                        </div>
                        <!-- /.box -->
                        <!-- general form elements disabled -->

                    </div>
                    <!--/.col (right) -->
                </div>
            </div>
        </section>


    </div>


    <th:block th:insert="root :: footer"></th:block>
    <th:block th:insert="root :: control-sidebar"></th:block>
</div>
<th:block th:insert="root :: script"></th:block>

</body>
</html>